<template>
  <section class="container">
    <h2>{{ userName }}</h2>
    <h3>{{ age }}</h3>
    <button @click="setAge">Changer l'âge</button>
    <div>
      <input type="text" placeholder="First Name" @input="setFirstName" />
      <input type="text" placeholder="Last Name" @input="setLastName" />
    </div>
  </section>
</template>

<script>
import { ref, computed } from 'vue';
export default {
  setup() {
    /* const uName = ref('Laurent'); */
    const firstName = ref('');
    const lastName = ref('');
    const uAge = ref(31);
    /*Classical method for declare data in Vue3
     const uName = ref('Maximilian');
    const uAge = ref(31); */

    /* and the optimized method */
    /* Nota bene : ref is for all kind of data, and reactive is specifically for objects. */
    /* const user = reactive({
      name: 'Maximilian',
      age: 31,
    }); */

    const uName = computed(function () {
      return firstName.value + ' ' + lastName.value;
    });

    function setNewAge() {
      uAge.value = 33;
    }

    function setFirstName(event) {
      firstName.value = event.target.value;
    }

    function setLastName(event) {
      lastName.value = event.target.value;
    }

    /* This function modifies the data in a reactive way */
    /*  setTimeout(function () {
      /* (uName.value = 'Laurent'), (uAge.value = '40'); 
      (user.name = 'Laurent'), (user.age = 40);
    }, 2000); */

    /* return with the classical method
     return { userName: user.value.name, age: user.value.age }; */

    return {
      userName: uName,
      age: uAge,
      setAge: setNewAge,
      setFirstName,
      setLastName,
    };
  },
  /* data() {
    return {
      userName: 'Maximilian',
    };
  }, */
};
</script>

<style>
* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

body {
  margin: 0;
}

.container {
  margin: 3rem auto;
  max-width: 30rem;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  padding: 1rem;
  text-align: center;
}
</style>